# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
.env

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Node
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log

# =========================
# ChromaDB
# =========================
data/chroma_db/

# =========================
# Python cache
# =========================
.pytest_cache/
.mypy_cache/

# =========================
# Build
# =========================
dist/
build/
*.egg-info/